body {
  margin: 0;
  padding: 0;
}

.splash_container {
  background-color: papayawhip;
}

.stick-to-right {
  position: fixed !important;
}

.preview {
  bottom: 15px;
  right: 110px;
}

.publish {
  top: 15px;
  right: 20px;
  background: #ff4081 !important;
  color: #fff !important;
  z-index: 10;
}

.save {
  bottom: 15px;
  right: 30px;
}

.mdl-layout__header {
  z-index: 0 !important;
}

a.button3 {
  display: block;
  padding: 0.5em 2.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

a.button3:hover {
  background-color: #4095c6;
}

.add-icon {
  margin-top: 10px !important;
}

.template-img {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
  transform: translateX(-10px);
}

.text-center {
  text-align: center;
}

.button-container {
  margin: 0 auto;
}

.jstree {
  margin: 15px 0 0 15px;
}

.nav-title {
  font-size: 18px;
  margin: 0 auto;
}

.jstree-node {
  font-size: 18px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: rgba(0, 0, 0, .54);
}

.no-data {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, .35);
  margin-top: 15px;
}

.del-icon {
  float: right;
}

.current {
  color: white !important;
  background-color: #3f51b5;
}

.current:hover {
  color: #3f51b5 !important;
}

.del-icon:hover {
  color: rgb(155, 22, 22) !important;
  opacity: 1 !important;
}

.error-title {
  font-size: 24px !important;
}

.err-icon {
  font-size: 24px !important;
  transform: translateY(5px) translateX(-3px);
}

.alert {
  position: fixed;
  top: 30px;
  background-color: rgba(9, 255, 29, 0.719);
  display: block;
  padding: 4px;
  left: 55%;
  color: whitesmoke;
  z-index: 10;
  font-size: 12px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.success-animation {
  animation: slide-down .5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}