body {
  margin: 0;
  padding: 0;
}

.splash_container {
  background-color: papayawhip;
}

.stick-to-right {
  position: fixed !important;
}

.preview {
  bottom: 15px;
  right: 110px;
}

.publish {
  top: 15px;
  right: 20px;
  z-index: 10;
}

.save {
  bottom: 15px;
  right: 30px;
}

.mdl-layout__header {
  z-index: 0 !important;
}

a.button3 {
  display: block;
  padding: 0.5em 2.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

a.button3:hover {
  background-color: #4095c6;
}

.add-icon {
  margin-top: 10px !important;
}

.template-img {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
  transform: translateX(-10px);
}

.text-center {
  text-align: center;
}

.button-container {
  margin: 0 auto;
}

.jstree {
  margin: 15px 0 0 15px;
}

.nav-title {
  font-size: 18px;
  margin: 0 auto;
}

.jstree-node {
  font-size: 18px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: rgba(0, 0, 0, .54);
}

.no-data {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, .35);
  margin-top: 15px;
}

.del-icon {
  float: right;
}

.current {
  color: white !important;
  background-color: #3f51b5;
}

.current:hover {
  color: #3f51b5 !important;
}

.error-title {
  font-size: 24px !important;
}

.err-icon {
  font-size: 24px !important;
  transform: translateY(5px) translateX(-3px);
}