<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Course Navigation</title>
  <link rel="stylesheet" href="./assets/css/default/style.min.css" />
  <link rel="stylesheet" href="./assets/css/styles.css" />
  <link rel="stylesheet" href="./assets/css/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="nav-title align-center">Course Navigation</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
      mdl-textfield--floating-label mdl-textfield--align-center">
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
          </div>
        </div>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <h5 class="text-center">Templates</h5>
      <div class="button-container">
        <button id="show-dialog" class="mdl-button mdl-js-button add-icon align-center mdl-button--fab mdl-button--mini-fab mdl-button--colored">
          <i class="material-icons ">add</i>
        </button>
      </div>
      <!-- Colored mini FAB button -->
      <nav class="mdl-navigation template-navigation">
        <!-- <a class="mdl-navigation__link " href="">Link
          <button type="button" class="mdl-chip__action del-icon">
            <i class="material-icons">delete</i>
          </button>
        </a> -->
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <!-- Your content goes here -->
        <div id="jstree" class="tree"></div>
      </div>
      <!-- Raised button with ripple -->
      <button class=" stick-to-right preview mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Preview
      </button>
      <!-- Colored raised button -->
      <button id="generateXML" class="stick-to-right publish mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Publish
      </button>
      <button type="button" class="stick-to-right save mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Save
      </button>
      <dialog class="mdl-dialog template-dialog">
      </dialog>
    </main>
  </div>
  </div>

  <script>
    window.$ = window.jQuery = require('jquery');
    require('./assets/js/material.min.js')
    require('./assets/js/renderer.js')
    require('./assets/js/jstree.js')
  </script>
</body>

</html>