<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iSelect | Abbott</title>
  <link rel="stylesheet" href="./assets/css/default/style.min.css" />
  <link rel="stylesheet" href="./assets/css/styles.css" />
  <link rel="stylesheet" href="./assets/css/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="splash_container">
  <img src="./assets/img/splash.jpg" width="100%">
  <!-- MDL Spinner Component with Single Color -->
  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
  <script>
    require('./assets/js/splash.js');
    require('./assets/js/material.min.js')
  </script>
</body>

</html>